<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Show</title>
        <% include partials/header.ejs %>
    </head>
    <body>
        <nav class='container'>
            <% include partials/nav.ejs %>
        </nav>
        <div class='container'>
            <div class='topContainer row'>
                <div class='postcontainer col-sm-9'>
                    <h1><%=post.name %></h1>
                </div>
                <div class='postcontainer col-sm-3'>
                    Suitable for:
                    <h3><%=post.size %> people</h3>
                </div>
                <div class='postcontainer col-sm-3'>
                    Game lasts for:
                    <h3><%=post.time %> minutes</h3>
                </div>
                <div class='postcontainer col-sm-5'>
                    Tags:
                    <h3><%=post.tags[0] + ', ' + post.tags[1] %></h3>
                </div>
            </div>

                <div class='postcontainerneed row justify-content-start'>
                    <p class='col-sm-12'>What you need to play:</p>
                    <% for(let i=0; i< post.needed.length; i++){ %>
                        <h3 class='col'><%=post.needed[i] %></h3>
                    <% } %>

                </div>
                <div class='postcontainerbottom'>
                    <p><%=post.game %></p>
                </div>
            </div>
        </div>
        <% if(currentUser) { %>
        <a class='btn btn-dark editbtn' href='/view/index/<%=post.id %>/edit %>'>EDIT</a>
        <% } %>
        <% include partials/footer.ejs %>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
