<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Show</title>
        <% include partials/header.ejs %>
    </head>
    <body>
        <nav class='container'>
            <% include partials/nav.ejs %>
        </nav>
        <h1><%=post.name %></h1>
        <h3><%=post.size %></h3>
        <h3><%=post.time %></h3>
        <h3><%=post.tags %></h3>
        <h3><%=post.needed %></h3>
        <p><%=post.game %></p>
        <% if(currentUser) { %>
        <a href='/view/index/<%=post.id %>/edit %>'>EDIT</a>
        <% } %>
    </body>
</html>
