<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Show</title>
    </head>
    <body>
        <h1><%=post.name %></h1>
        <h3><%=post.size %></h3>
        <h3><%=post.time %></h3>
        <h3><%=post.tags %></h3>
        <p><%=post.game %></p>
        <a href='/index/<%=post.id %>/edit %>'>EDIT</a>
    </body>
</html>
